/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/*

   HEADER

*/
header{
    height: 40px;
    background-color: #000000;
    text-align: right;
    padding: 7px;
}

header button{
    background-color: #353535;
    border-radius: 3px;
    color: white;
    padding: 5px;
    border: none;
}

/*

   MAIN

*/
main{
    height: calc(100vh - 140px);
}

/*

   FOOTER

*/
footer{
    height: 100px;
}


/*

   DEBUG

*/


.debug main {
    background-color: lightcoral;

}

.debug footer{
    background-color: black;

}