/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/*

   HEADER

*/
header{
    height: 40px;
    background-color: #000000;
    text-align: right;
    padding: 7px;
}

header button{
    background-color: #353535;
    border-radius: 3px;
    color: white;
    padding: 5px;
    border: none;
}

/*

   MAIN

*/
main{
    height: calc(100vh - 140px);
}

/*

   FOOTER

*/
footer{
    height: 100px;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
}


footer > div > *{
    height: 100%;
    background-color:#202020;
    color: white;
    vertical-align: middle;
    border: none;
    padding: 5px;

    
}
 
button span{
    padding: 4px;
}


.green{
    color: green;
    font-size: 35px;
}
   
.icon{
    font-size: 35px;
}

.chevron{
    font-size: 10px;
}

button div{
    margin-top: 5px;
}

.invite{
    margin-right: 9px;
}


.endmeet{
    color: red;
    background-color: #5c5c5c;
    padding: 15px;
}







/*

   DEBUG

*/


.debug main {
    background-color: lightcoral;

}

